@model BlueSportApp.ViewModels.HomeViewModel

 <!-- Header -->
<header class="header">
    <div class="header__address">
        <a href="#">Bluesport mở bán 4 siêu thị ở TP. Hồ Chí Minh</a>
    </div>
    <div class="header__main">
        <div class="header-menu">
            <i class="icon-menu"></i>
        </div>
        <a href="#" class="header-logo">
            <i class="icon-logo"></i>
        </a>
        <div class="header-search">
            <i class="icon-search"></i>
        </div>
        <a href="#" class="header-cart">
            <i class="icon-cart"></i>
            <span class="number">1</span>
        </a>
    </div>

    <div class="main-menu">
        <nav class="gNavi">
            <ul class="list-menu">
                @if (Model.ListCategory != null)
                {
                    @foreach (var item in Model.ListCategory)
                    {
                        <li class="arr-submenu">
                            <p class="open-sub"><a href="#">@item.Name</a></p>
                            <ul class="submenu">
                                @if (item.ListSubCategory != null)
                                {
                                    @foreach (var sub in item.ListSubCategory)
                                    {
                                        <li class="arr-submenu">
                                            <p class="open-sub"><a href="#">@sub.Name</a></p>
                                            <ul class="sub-submenu">
                                                @if (sub.ListSubCategory != null)
                                                {
                                                    @foreach (var last in sub.ListSubCategory)
                                                    {
                                                        <li><a href="#">@last.Name</a></li>
                                                    }
                                                }
                                                <li><a href="#">Xem tất cả giày dép</a></li>
                                            </ul>
                                        </li>
                                    }
                                }
                                <li>
                                    <a href="#" class="all-product">XEM TẤT CẢ</a>
                                </li>
                            </ul>
                        </li>
                    }
                }
                @*<li class="arr-submenu">
            <p class="open-sub"><a href="#">NAM</a></p>
            <ul class="submenu">
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">GIÀY DÉP</a></p>
                    <ul class="sub-submenu">
                        <li><a href="#">Xem tất cả giày dép</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">Bittis</a></li>
                        <li><a href="#">Skechers</a></li>
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Giày bóng rổ</a></li>
                        <li><a href="#">Giày chạy bộ</a></li>
                        <li><a href="#">Giày bóng đá</a></li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">ÁO - QUẦN</a></p>
                    <ul class="sub-submenu">
                        <li><a href="#">test01</a></li>
                        <li><a href="#">test02</a></li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">PHỤ KIỆN</a></p>
                    <ul class="sub-submenu">
                        <li><a href="#">test01</a></li>
                        <li><a href="#">test02</a></li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">THỂ THAO</a></p>
                    <ul class="sub-submenu">
                        <li><a href="#">test01</a></li>
                        <li><a href="#">test02</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="all-product">XEM TẤT CẢ</a>
                </li>
            </ul>
        </li>
        <li class="arr-submenu">
            <p class="open-sub"><a href="#">NỮ</a></p>
            <ul class="submenu">
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">GIÀY DÉP</a></p>
                    <ul class="sub-submenu">
                        <li><a href="#">Xem tất cả giày dép</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">Bittis</a></li>
                        <li><a href="#">Skechers</a></li>
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Giày bóng rổ</a></li>
                        <li><a href="#">Giày chạy bộ</a></li>
                        <li><a href="#">Giày bóng đá</a></li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">ÁO - QUẦN</a></p>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">PHỤ KIỆN</a></p>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">THỂ THAO</a></p>
                </li>
                <li>
                    <a href="#" class="all-product">XEM TẤT CẢ</a>
                </li>
            </ul>
        </li>
        <li class="arr-submenu">
            <p class="open-sub"><a href="#">TRẺ EM</a></p>
            <ul class="submenu">
                <li>
                    <p><a href="#">test01</a></p>
                </li>
                <li>
                    <p><a href="#">test02</a></p>
                </li>
                <li>
                    <p><a href="#">test03</a></p>
                </li>
            </ul>
        </li>
        <li class="arr-submenu">
            <p class="open-sub"><a href="#">THƯƠNG HIỆU</a></p>
            <ul class="submenu">
                <li>
                    <p><a href="#">test01</a></p>
                </li>
                <li>
                    <p><a href="#">test02</a></p>
                </li>
                <li>
                    <p><a href="#">test03</a></p>
                </li>
            </ul>
        </li>
        <li class="arr-submenu">
            <p class="open-sub"><a href="#">MÔN THỂ THAO</a></p>
            <ul class="submenu">
                <li>
                    <p><a href="#">test01</a></p>
                </li>
                <li>
                    <p><a href="#">test02</a></p>
                </li>
                <li>
                    <p><a href="#">test03</a></p>
                </li>
            </ul>
        </li>
        <li class="arr-submenu">
            <p class="open-sub"><a href="#">PHỤ KIỆN THỂ THAO</a></p>
            <ul class="submenu">
                <li>
                    <p><a href="#">test01</a></p>
                </li>
                <li>
                    <p><a href="#">test02</a></p>
                </li>
                <li>
                    <p><a href="#">test03</a></p>
                </li>
            </ul>
        </li>*@
            </ul>
        </nav>
        <div class="close-menu"><i class="icon-closemenu"></i></div>
    </div>

    <div class="search-show">
        <div class="search-top">
            <input type="text" placeholder="Tìm kiếm tên thương hiệu, môn thể thao...">
            <a href="javascript:void(0)" class="clear-search">
                <i class="icon-clear-search"></i>
            </a>
            <button type="submit">
                <i class="icon-searchshow"></i>
            </button>
        </div>
        <div class="history-txt">
            <p class="txt">Có phải bạn muốn tìm</p>
            <p>Giày đá bóng nam</p>
            <p>Giày nike</p>
            <p>Giày thể thao nam </p>
        </div>
        <div class="search-product">
            <p class="search-product-txt">Sản phẩm gợi ý</p>
            <ul>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="~/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="ct">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <span class="price-old">8.205.000đ</span>
                                <span class="price-percent">-20%</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="~/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="ct">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <span class="price-old">8.205.000đ</span>
                                <span class="price-percent">-20%</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img">
                            <img src="~/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="ct">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <span class="price-old">8.205.000đ</span>
                                <span class="price-percent">-20%</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-close">
            <i class="icon-search-close"></i>
            Đóng tìm kiếm
        </div>
    </div>
</header>
<!-- / Header -->